@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #F9FAFB;
  --foreground: #101010;

  --card: #EEF0F4;
  --card-foreground: #101010;
  --popover: #FFFFFF;
  --popover-foreground: #101010;

  --primary: #009966; 
  --primary-foreground: #FFFFFF;

  --secondary: #F4F4F5;
  --secondary-foreground: #009966;
  --muted: #F4F4F5;
  --muted-foreground: #71717A;
  --accent: #E2E8F0;
  --accent-foreground: #009966;

  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;

  --border: #EAECEF;
  --input: #EEF0F4;
  --ring: #009966; 

  --chart-1: #009966; 
  --chart-2: #015b3d; 
  --chart-3: #4dfac1; 
  --chart-4: #51766a; 
  --chart-5: #0b231c; 

  --sidebar: #F9FAFB;
  --sidebar-foreground: #101010;
  --sidebar-primary: #009966;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #EEF0F4;
  --sidebar-accent-foreground: #009966;
  --sidebar-border: #EAECEF;
  --sidebar-ring: #009966;

  --radius: 0.5rem;

  --font-sans: var(--font-dm-sans, "DM Sans"), ui-sans-serif, system-ui;

  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 0px 0px rgba(0,0,0,0);
  --shadow-xs: 0 1px 0px 0px rgba(0,0,0,0);
  --shadow-sm: 0 1px 0px 0px rgba(0,0,0,0), 0 1px 2px -1px rgba(0,0,0,0);
  --shadow: 0 1px 0px 0px rgba(0,0,0,0), 0 1px 2px -1px rgba(0,0,0,0);
  --shadow-md: 0 1px 0px 0px rgba(0,0,0,0), 0 2px 4px -1px rgba(0,0,0,0);
  --shadow-lg: 0 1px 0px 0px rgba(0,0,0,0), 0 4px 6px -1px rgba(0,0,0,0);
  --shadow-xl: 0 1px 0px 0px rgba(0,0,0,0), 0 8px 10px -1px rgba(0,0,0,0);
  --shadow-2xl: 0 1px 0px 0px rgba(0,0,0,0);
  --tracking-normal: -0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: #101010;
  --foreground: #F9FAFB;

  --card: #212121;
  --card-foreground: #F9FAFB; 

  --primary: #009966;
  --primary-foreground: #FFFFFF;

  --muted: #1F1F1F;
  --muted-foreground: #4E4E4E;
  
  --accent: #141414;
  --accent-foreground: #009966;

  --destructive: #EA4335;
  --destructive-foreground: #370602;

  --border: #252525;
  --input: #252525;
  --ring: #009966; 

  --chart-1: #009966; 
  --chart-2: #015b3d; 
  --chart-3: #4dfac1; 
  --chart-4: #51766a; 
  --chart-5: #0b231c; 

  --sidebar: #171717;
  --sidebar-foreground: #F9FAFB;
  --sidebar-primary: #009966;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #27272A;
  --sidebar-accent-foreground: #F9FAFB;
  --sidebar-border: #252525;
  --sidebar-ring: #009966;
  
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    
    text-rendering: optimizeLegibility;
    @apply bg-background text-foreground;
  }
}
